@page
@using RazorPagesUser.Models
@model RazorPagesUser.Pages.BuyerViewModel
@{    
    ViewData["Title"] = "KATIE";
}
    <!--
    license
    Copyright 2019 Google LLC. All Rights Reserved.
    SPDX-License-Identifier: Apache-2.0
    -->
<div class = "container">
    <h1> Looking for a cleaner? </h1>
    <p> Please enter a city! <p>
    <div class = "row">
    <div class="column">

    <form method="post" class="card p-3">
        <div class="row">
            <div asp-validation-summary="All"></div>
        </div>
        <div class="form-group mb-0 align-middle">
            <form method="post">
                <input name="nlocation"/>
                <input type="submit"/>
            </form>
        </div>
    </form>    
   <!--
@foreach (var user in Model.users)
    {
        <div class = "row" >
        <div class = "column">
        <div class="card">
        <img src="images/avatar2.png" height= 100px width=100px>
            <p>My name is @user.username</p>
            <p>I work in @user.location</p>
             <a class="button" href="/ScheduleAppointment?id=@user.username">Schedule</a>
        </div>
        </div>

        <div class = "column">
        <div class = "card"> 
            <p>My hours are </p>
            <p> Monday: @user.mondayStart to @user.mondayEnd </p>
            <p> Tuesday: @user.tuesdayStart to @user.tuesdayEnd </p>
            <p> Wednesday: @user.wednesdayStart to @user.wednesdayEnd </p>
            <p> Thursday: @user.thursdayStart to @user.thursdayEnd </p>
            <p> Friday: @user.fridayStart to @user.fridayEnd </p>
            <p> Saturday: @user.saturdayStart to @user.saturdayEnd </p>
            <p> Sunday: @user.sundayStart to @user.sundayEnd </p>
        </div>
        </div>
        </div>
    }-->
    

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
    </div>

    <div class= "column">

    <div id="googleMap" style="width:80%;height:400px;"></div>

    <script>
    function myMap() {
    var mapProp= {
    center:new google.maps.LatLng(41,88),
    zoom:5,
    };
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjYOkoQ5stObcKWAKAZBP1DjfztKIPW0Y&callback=myMap"></script>
    </div>
    </div>
</div>

<div class ="container">
    <div class = "card-rows">
        @foreach (var user in Model.users)
        {
        <div class="card-container">
            <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
            <h3>@user.username</h3>
                <h6>@user.location</h6>
            <p></p>
            <div class="buttons">
                    <div class="primary">
                        <a class="button" href="/ScheduleAppointment?id=@user.username">Book Appointment</a>
                    </div>
            </div>
            <div class="schedule">
                <h6>Schedule</h6>
                    <ul>
                        <li>Monday: @user.mondayStart - @user.mondayEnd</li>
                        <li>Tuesday: @user.tuesdayStart - @user.tuesdayEnd</li>
                        <li>Wednesday: @user.wednesdayStart - @user.wednesdayEnd</li>
                        <li>Thursday: @user.thursdayStart - @user.thursdayEnd</li>
                        <li>Friday: @user.fridayStart - @user.fridayEnd</li>
                        <li>Saturday: @user.saturdayStart - @user.saturdayEnd</li>
                        <li>Sunday: @user.sundayStart - @user.sundayEnd</li>
                    </ul>
            </div>
            <div class="review">
                <div class="rating-box">
                    <button type="button" class="collapsible">Submit Review</button>
                    <div class="reviews">
						<form method="post">
                            <p>Rating out of 5:</p>
                            <input type="number" name="rating" min="1" max="5">
                            <p></p>
                            <p>Review and Comments:</p>
                            <input type="name" name="comment">

                            <input type="submit" />
                        </form>
                    </div>
				</div>
            </div>
        </div>
        }
    </div>
</div>


<style>
img {
  border-radius: 50%;
}
</style>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
    });
}    
</script>