@page
@using RazorPagesUser.Models
@model RazorPagesUser.Pages.BuyerViewModel
@{    
    ViewData["Title"] = "KATIE";
}
    <!--
    license
    Copyright 2019 Google LLC. All Rights Reserved.
    SPDX-License-Identifier: Apache-2.0
    -->
<div class = "container">
    <h1> Looking for a cleaner? </h1>
    <p> Please enter a city! <p>
    <div class = "row">
    <div class="column">

    <form method="post" class="card p-3">
        <div class="row">
            <div asp-validation-summary="All"></div>
        </div>
        <div class="form-group mb-0 align-middle">
            <form method="post">
                <input name="nlocation"/>
                <input type="submit"/>
            </form>
        </div>
    </form>    
    
@foreach (var user in Model.users)
    {
        <div class = "row" >
        <div class = "column">
        <div class="card">
        <img src="images/avatar2.png" height= 100px width=100px>
            <p>My name is @user.username</p>
            <p>I work in @user.location</p>
             <a class="button" href="/ScheduleAppointment">Schedule</a>
        </div>
        </div>

        <div class = "column">
        <div class = "card"> 
            <p>My hours are </p>
            <p> Monday: @user.mondayStart to @user.mondayEnd </p>
            <p> Tuesday: @user.tuesdayStart to @user.tuesdayEnd </p>
            <p> Wednesday: @user.wednesdayStart to @user.wednesdayEnd </p>
            <p> Thursday: @user.thursdayStart to @user.thursdayEnd </p>
            <p> Friday: @user.fridayStart to @user.fridayEnd </p>
            <p> Saturday: @user.saturdayStart to @user.saturdayEnd </p>
            <p> Sunday: @user.sundayStart to @user.sundayEnd </p>
        </div>
        </div>
        </div>
    }
    

    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
    </div>

    <div class= "column">

    <div id="googleMap" style="width:80%;height:400px;"></div>

    <script>
    function myMap() {
    var mapProp= {
    center:new google.maps.LatLng(41,88),
    zoom:5,
    };
    var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjYOkoQ5stObcKWAKAZBP1DjfztKIPW0Y&callback=myMap"></script>
    </div>
    </div>
</div>

<div class ="container">
    <div class = "card-rows">
        <div class="card-container">
            <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
            <h3>Yeet Skeet</h3>
            <h6>Romeoville, IL</h6>
            <p></p>
            <div class="buttons">
                <button class="primary">
                    Book Appointment
                </button>
            </div>
            <div class="schedule">
                <h6>Schedule</h6>
                <ul>
                    <li>Monday: 10AM - 2PM</li> 
                    <li>Tuesday: 12PM - 5PM</li>
                    <li>Wednesday: 10AM - 2PM</li>
                    <li>Thursday: 12PM - 5PM</li>
                    <li>Friday: 10AM - 2PM</li>
                    <li>Saturday: 8AM - 3PM</li>
                    <li>Sunday: 8AM - 3PM</li>
                </ul>
            </div>
        </div>

        <div class="card-container">
            <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
            <h3>Skeeturu</h3>
            <h6>Romeoville, IL</h6>
            <p></p>
            <div class="buttons">
                <button class="primary">
                    Book Appointment
                </button>
            </div>
            <div class="schedule">
                <h6>Schedule</h6>
                <ul>
                    <li>Monday: 10AM - 2PM</li> 
                    <li>Tuesday: 12PM - 5PM</li>
                    <li>Wednesday: 10AM - 2PM</li>
                    <li>Thursday: 12PM - 5PM</li>
                    <li>Friday: 10AM - 2PM</li>
                    <li>Saturday: 8AM - 3PM</li>
                    <li>Sunday: 8AM - 3PM</li>
                </ul>
            </div>
        </div>

        <div class="card-container">
            <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
            <h3>Skeetus Yeetus</h3>
            <h6>Romeoville, IL</h6>
            <p></p>
            <div class="buttons">
                <button class="primary">
                    Book Appointment
                </button>
            </div>
            <div class="schedule">
                <h6>Schedule</h6>
                <ul>
                    <li>Monday: 10AM - 2PM</li> 
                    <li>Tuesday: 12PM - 5PM</li>
                    <li>Wednesday: 10AM - 2PM</li>
                    <li>Thursday: 12PM - 5PM</li>
                    <li>Friday: 10AM - 2PM</li>
                    <li>Saturday: 8AM - 3PM</li>
                    <li>Sunday: 8AM - 3PM</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<style>
img {
  border-radius: 50%;
}
</style>